<div class="game-stats-header">
  <div class="main-result">
    <div class="result-team-left">
      <div class="team-name">
        <div class="team-organization">
          {{model.homeTeam.organization}}
        </div>
        <div class="team-mascot">
          {{model.homeTeam.mascot}}
        </div>
      </div>
      <div class="team-score">
        {{model.homeScore}}
      </div>
    </div>
    <div class="result-team-right">
      <div class="team-name">
        <div class="team-organization">
          {{model.awayTeam.organization}}
        </div>
        <div class="team-mascot">
          {{model.awayTeam.mascot}}
        </div>
      </div>
      <div class="team-score">
        {{model.awayScore}}
      </div>
    </div>
  </div>

  <div class="results-main-stats">
    <div class="scores team-names">
      <div class="period">
        <div class="period-header"></div>
        <div class="home-score">{{model.homeTeam.mascot}}</div>
        <div class="home-score">{{model.awayTeam.mascot}}</div>
      </div>
    </div>
    {{partial "score-by-quarter"}}
    <div class="scores final-score">
      <div class="period">
        <div class="period-header">F</div>
        <div class="home-score">{{model.homeScore}}</div>
        <div class="home-score">{{model.awayScore}}</div>
      </div>
    </div>

    <div class="scores team-names">
      <div class="period">
        <div class="period-header"></div>
        <div class="home-score">{{model.homeTeam.mascot}}</div>
        <div class="home-score">{{model.awayTeam.mascot}}</div>
      </div>
    </div>
    <div class="advanced-stats-summary flex-table">
      <div class="col">
        <div class="col-header">Pace</div>
        <div>{{model.left.teamStats.poss}}</div>
        <div>{{model.right.teamStats.poss}}</div>
      </div>
      <div class="col">
        <div class="col-header">EFG</div>
        <div>{{model.left.teamStats.efg}}</div>
        <div>{{model.right.teamStats.efg}}</div>
      </div>
      <div class="col">
        <div class="col-header">TOV</div>
        <div>{{model.left.teamStats.tov}}</div>
        <div>{{model.right.teamStats.tov}}</div>
      </div>
      <div class="col">
        <div class="col-header">ORB</div>
        <div>{{model.left.teamStats.orb}}</div>
        <div>{{model.right.teamStats.orb}}</div>
      </div>
      <div class="col">
        <div class="col-header">FTP</div>
        <div>{{model.left.teamStats.ftp}}</div>
        <div>{{model.right.teamStats.ftp}}</div>
      </div>
      <div class="col">
        <div class="col-header">ORTG</div>
        <div>{{model.left.teamStats.ortg}}</div>
        <div>{{model.right.teamStats.ortg}}</div>
      </div>
    </div>
  </div>
  <div class="tab-row">
    {{#link-to "game.index" model}}
      box score
    {{/link-to}}
    {{#link-to "game.play-by-play" model}}
      play-by-play
    {{/link-to}}
  </div>
</div>


{{outlet}}