<div class="team-games">
  {{#each model.games key="@guid" as |game|}}
    {{#link-to 'game' game}}
      <div class="col date">
        {{game.date}}
        <div class="status">
          {{game.status}}
        </div>
      </div>
      <div class="col away-team {{if game.homeWin 'lose' 'win'}}">
        {{game.awayTeam.organization}} {{game.awayTeam.mascot}}
      </div>
      <div class="col at">at</div>
      <div class="col home-team {{if game.homeWin 'win' 'lose'}}">
        {{game.homeTeam.organization}} {{game.homeTeam.mascot}}
      </div>
      <div class="col results">
        {{game.awayScore}} - {{game.homeScore}}
      </div>
    {{/link-to}}
  {{else}}
    This team doesn't have any games yet.
    {{#if controllers.team.model.myTeam}}
      {{#link-to "team.new-game"}}
        <button class="add-button">New Game</button>
      {{/link-to}}
    {{/if}}
  {{/each}}
</div>
