<div class="team-games">
  {{#each game in controllers.team.games}}
    {{#link-to 'game' game}}
      <div class="col date">
        {{game.date}}
        <div class="status">
          {{game.status}}
        </div>
      </div>
      <div {{bind-attr class=":col :away-team game.homeWin:lose:win"}}>
        {{game.awayTeam.organization}} {{game.awayTeam.mascot}}
      </div>
      <div class="col at">at</div>
      <div {{bind-attr class=":col :home-team game.homeWin:win:lose"}}>
        {{game.homeTeam.organization}} {{game.homeTeam.mascot}}
      </div>
      <div class="col results">
        {{game.awayScore}} - {{game.homeScore}}
      </div>
    {{/link-to}}
  {{/each}}
</div>
