<div class="team-roster">
  {{#each player in model.players}}
    <div class="roster-player">
      <div class="col number">{{player.number}}</div>
      <div class="col name">{{player.firstName}} {{player.lastName}}</div>
      <div class="col position">{{player.position}}</div>
      <div class="col year">{{player.year}}</div>
      <div class="col height">{{player.height}}</div>
    </div>
  {{/each}}

  {{#if model.editable}}
  <h3 class="add-item">+ Add a Player</h3>
  <form class="add-player-form">
    {{input class="first-field" value=player.firstName placeholder="First Name"}}
    {{input value=player.lastName placeholder="Last Name"}}
    {{input value=player.number placeholder="Number"}}
    {{input value=player.position placeholder="Position"}}
    {{input value=player.year placeholder="Year/Class (ex. Jr)"}}
    {{input value=player.height placeholder="Height"}}
    <button class="add-button" {{action "createPlayer"}}>Add</button>
  </form>
  {{/if}}
</div>
