

<form class="new-game-form">
  <div class="form-step step-one">
    <h2>{{model.mascot}} vs {{selectedOpponent.mascot}}</h2>
  </div>
  <div class="form-step step-two">
    <h3>Step 1: General Game Information</h3>
    {{date-picker date=game.date valueFormat='YYYY-MM-DD'}}
    {{! input value=game.location placeholder="Location"}}
    {{radio-button name="court" id="court1" selection="game.courtSelect" value="home"}}
    <label for="court1">Home</label>
    {{radio-button name="court" id="court2" selection="game.courtSelect" value="away"}}
    <label for="court2">Away</label>
  </div>

  <div class="form-step step-three">
    <h3>Step 3: Select Opponent</h3>

    <div class="opponent-grid">
      <form class="new-opponent opponent-grid-item">
        <div class="opponent-name">
          New Opponent
        </div>
        {{input value=opp.organization placeholder="School/Organization"}}
        {{input value=opp.mascot placeholder="Mascot"}}
        {{input value=opp.season placeholder="Season (Ex. '14-'15)"}}
        <button {{action "createOpponent"}}>Create</button>
      </form>
      {{#each model.opponents key="@guid" as |team|}}
        <div class="opponent-grid-item {{team.id}}" {{action 'selectOpponent' team}}>
          <div class="opponent-name">
            {{team.organization}} {{team.mascot}}
          </div>
          <div class="opponent-detail">
            {{team.season}}
          </div>
          {{#link-to 'team' team}}
            Edit Roster
          {{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
  <button class="add-button" {{action "createGame"}}>Create Game</button>
</form>
