<div class="flex-table">
  <div class="col three-col">
    <div class="col-header">player</div>
    {{#each player in model.players}}
    <div>{{player.firstInitial}} {{player.lastName}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">min</div>
    {{#each player in model.players}}
    <div>{{seconds-to-time player.gameStats.minutes}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">pts</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.points}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">reb</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.reb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ast</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.assists}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fgm</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fgm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fga</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fga}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fg%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fgp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3pm</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threeptm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3pa</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threepta}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3p%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threeptp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ftm</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.ftm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fta</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fta}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ft%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.ftp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">oreb</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.oreb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">dreb</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.dreb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">stl</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.steals}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">blk</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.blocks}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">to</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.turnovers}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">pf</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fouls}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">+/-</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.plusminus}}</div>
    {{/each}}
  </div>
</div>
<!-- <div class='stat-lines'>

  <div class="total-row">
    <div class="col player-number"></div>
    <div class="col player-name">TOTALS</div>
    <div class="col min">{{left.teamStats.min}}</div>
    <div class="col points">{{left.teamStats.points}}</div>
    <div class="col totreb">{{left.teamStats.reb}}</div>
    <div class="col assist">{{left.teamStats.assists}}</div>
    <div class="col fg">{{left.teamStats.fgm}}/{{left.teamStats.fga}}</div>
    <div class="col threept">{{left.teamStats.threeptm}}/{{left.teamStats.threepta}}</div>
    <div class="col ft">{{left.teamStats.ftm}}/{{left.teamStats.fta}}</div>
    <div class="col offreb">{{left.teamStats.oreb}}</div>
    <div class="col defreb">{{left.teamStats.dreb}}</div>
    <div class="col steal">{{left.teamStats.steals}}</div>
    <div class="col block">{{left.teamStats.blocks}}</div>
    <div class="col to">{{left.teamStats.turnovers}}</div>
    <div class="col foul">{{left.teamStats.fouls}}</div>
    <div class="col plus-minus">-</div>
  </div>
</div> -->