{{#modal-dialog clickOverlay="cancel"}}
  <div class="rebound-modal">
    <div class="title">
      Rebound - {{controllers.game.selectedPlayer.lastName}}
    </div>

    <div class="confirmation-buttons">
      <div class="cancel">
        <button class="cancel-button" {{action 'cancel'}}>Cancel</button>
      </div>
      <div class="continue">
        <button class="continue-button" {{action 'continue'}}>Submit</button>
      </div>
    </div>

    <div class="option-row">
      <button class="type-button defensive" {{action 'setType' 'defensive'}}>Defensive</button>
      <button class="type-button offensive" {{action 'setType' 'offensive'}}>Offensive</button>
    </div>
  </div>
{{/modal-dialog}}
