{{#modal-dialog clickOverlay="cancel"}}
  <div class="turnover-modal">
    <div class="title">
      Turnover - {{controllers.game.selectedPlayer.lastName}}
    </div>

    <div class="confirmation-buttons">
      <div class="cancel">
        <button class="cancel-button" {{action 'cancel'}}>Cancel</button>
      </div>
      <div class="continue">
        <button class="continue-button" {{action 'continue'}}>Submit</button>
      </div>
    </div>

    <div class="option-row">
      <div class="subtitle">
        Steal
      </div>
      {{#if controllers.game.leftPlayerSelected}}
        {{modal-card-row colors=controllers.game.model.right team=controllers.game.rightOnCourt action="setStealer"}}
      {{else}}
        {{modal-card-row colors=controllers.game.model.left team=controllers.game.leftOnCourt action="setStealer"}}
      {{/if}}
    </div>

  </div>
{{/modal-dialog}}
