{{#if play.sub}}
  <span class="substitution-text">
    {{play.in.fullName}} enters the game for {{play.out.fullName}}
  </span>
{{/if}}

{{#if play.shot}}
  {{#if play.make}}
    <span class="main-model" {{action 'editStat' play.mainModel}}>
      {{play.player.fullName}} makes {{play.shotType}}
    </span>
    {{#if play.recipient}}
      <span class="recipient-model" {{action 'editStat' play.recipientModel}}>
        ( {{play.recipient.fullName}} assists )
      </span>
    {{/if}}
  {{else if play.shootingFoul}}
    <span class="main-model" {{action 'editStat' play.mainModel}}>
      {{play.player.fullName}} fouled while shooting
    </span>
  {{else if play.block}}
    <span class="main-model" {{action 'editStat' play.mainModel}}>
      {{play.player.fullName}} shot blocked
    </span>
    {{#if play.recipient}}
      by {{play.recipient.fullName}}
    {{/if}}
  {{else}}
    <span class="main-model" {{action 'editStat' play.mainModel}}>
      {{play.player.fullName}} misses {{play.shotType}}
    </span>
  {{/if}}
  {{#if play.and1}}
    (and one)
  {{/if}}
{{/if}}

{{#if play.rebound}}
  <span class="main-model" {{action 'editStat' play.mainModel}}>
    {{#if play.offensive}}
      Offensive
    {{else}}
      Defensive
    {{/if}}
    rebound by {{play.player.fullName}}
  </span>
{{/if}}

{{#if play.teamRebound}}
  <span class="main-model" {{action 'editStat' play.mainModel}}>
    {{play.team.mascot}} team rebound
  </span>
{{/if}}

{{#if play.foul}}
  <span class="main-model" {{action 'editStat' play.mainModel}}>
    {{play.player.fullName}} called for {{play.foulType}} foul
  </span>
{{/if}}

{{#if play.turnover}}
  <span class="main-model" {{action 'editStat' play.mainModel}}>
    {{play.player.fullName}} turnover
  </span>
  {{#if play.recipient}}
    ( stolen by {{play.recipient.fullName}} )
  {{/if}}
{{/if}}