<h1>TEAM TOTALS</h1>
<div class="flex-table">
  <div class="col three-col">
    <div class="col-header">player</div>
    <div>{{model.mascot}}</div>
    <div>Opponent</div>
    <div>Difference</div>
  </div>
  <div class="col">
    <div class="col-header">pts</div>
    <div>{{model.teamStats.points}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.points}}</div>
    <div>{{model.teamStats.diffs.points}}</div>
  </div>
  <div class="col">
    <div class="col-header">reb</div>
    <div>{{model.teamStats.reb}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.reb}}</div>
    <div>{{model.teamStats.diffs.reb}}</div>
  </div>
  <div class="col">
    <div class="col-header">ast</div>
    <div>{{model.teamStats.assists}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.assists}}</div>
    <div>{{model.teamStats.diffs.assists}}</div>
  </div>
  <div class="col">
    <div class="col-header">fgm</div>
    <div>{{model.teamStats.fgm}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.fgm}}</div>
    <div>{{model.teamStats.diffs.fgm}}</div>
  </div>
  <div class="col">
    <div class="col-header">fga</div>
    <div>{{model.teamStats.fga}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.fga}}</div>
    <div>{{model.teamStats.diffs.fga}}</div>
  </div>
  <div class="col">
    <div class="col-header">fg%</div>
    <div>{{model.teamStats.fgp}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.fgp}}</div>
    <div>{{model.teamStats.diffs.fgp}}</div>
  </div>
  <div class="col">
    <div class="col-header">3pm</div>
    <div>{{model.teamStats.threeptm}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.threeptm}}</div>
    <div>{{model.teamStats.diffs.threeptm}}</div>
  </div>
  <div class="col">
    <div class="col-header">3pa</div>
    <div>{{model.teamStats.threepta}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.threepta}}</div>
    <div>{{model.teamStats.diffs.threepta}}</div>
  </div>
  <div class="col">
    <div class="col-header">3p%</div>
    <div>{{model.teamStats.threeptp}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.threeptp}}</div>
    <div>{{model.teamStats.diffs.threeptp}}</div>
  </div>
  <div class="col">
    <div class="col-header">ftm</div>
    <div>{{model.teamStats.ftm}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.ftm}}</div>
    <div>{{model.teamStats.diffs.ftm}}</div>
  </div>
  <div class="col">
    <div class="col-header">fta</div>
    <div>{{model.teamStats.fta}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.fta}}</div>
    <div>{{model.teamStats.diffs.fta}}</div>
  </div>
  <div class="col">
    <div class="col-header">ft%</div>
    <div>{{model.teamStats.ftpercentage}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.ftpercentage}}</div>
    <div>{{model.teamStats.diffs.ftpercentage}}</div>
  </div>
  <div class="col">
    <div class="col-header">oreb</div>
    <div>{{model.teamStats.oreb}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.oreb}}</div>
    <div>{{model.teamStats.diffs.oreb}}</div>
  </div>
  <div class="col">
    <div class="col-header">dreb</div>
    <div>{{model.teamStats.dreb}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.dreb}}</div>
    <div>{{model.teamStats.diffs.dreb}}</div>
  </div>
  <div class="col">
    <div class="col-header">stl</div>
    <div>{{model.teamStats.steals}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.steals}}</div>
    <div>{{model.teamStats.diffs.steals}}</div>
  </div>
  <div class="col">
    <div class="col-header">blk</div>
    <div>{{model.teamStats.blocks}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.blocks}}</div>
    <div>{{model.teamStats.diffs.blocks}}</div>
  </div>
  <div class="col">
    <div class="col-header">to</div>
    <div>{{model.teamStats.turnovers}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.turnovers}}</div>
    <div>{{model.teamStats.diffs.turnovers}}</div>
  </div>
  <div class="col">
    <div class="col-header">pf</div>
    <div>{{model.teamStats.fouls}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.fouls}}</div>
    <div>{{model.teamStats.diffs.fouls}}</div>
  </div>
</div>
<h1>TEAM PER GAME</h1>
<div class="flex-table">
  <div class="col three-col">
    <div class="col-header">player</div>
    <div>{{model.mascot}}</div>
    <div>Opponent</div>
    <div>Difference</div>
  </div>
  <div class="col">
    <div class="col-header">pts</div>
    <div>{{model.teamStats.perGame.points}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.points}}</div>
    <div>{{model.teamStats.perGame.diffs.points}}</div>
  </div>
  <div class="col">
    <div class="col-header">reb</div>
    <div>{{model.teamStats.perGame.reb}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.reb}}</div>
    <div>{{model.teamStats.perGame.diffs.reb}}</div>
  </div>
  <div class="col">
    <div class="col-header">ast</div>
    <div>{{model.teamStats.perGame.assists}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.assists}}</div>
    <div>{{model.teamStats.perGame.diffs.assists}}</div>
  </div>
  <div class="col">
    <div class="col-header">fgm</div>
    <div>{{model.teamStats.perGame.fgm}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.fgm}}</div>
    <div>{{model.teamStats.perGame.diffs.fgm}}</div>
  </div>
  <div class="col">
    <div class="col-header">fga</div>
    <div>{{model.teamStats.perGame.fga}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.fga}}</div>
    <div>{{model.teamStats.perGame.diffs.fga}}</div>
  </div>
  <div class="col">
    <div class="col-header">fg%</div>
    <div>{{model.teamStats.fgp}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.fgp}}</div>
    <div>{{model.teamStats.diffs.fgp}}</div>
  </div>
  <div class="col">
    <div class="col-header">3pm</div>
    <div>{{model.teamStats.perGame.threeptm}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.threeptm}}</div>
    <div>{{model.teamStats.perGame.diffs.threeptm}}</div>
  </div>
  <div class="col">
    <div class="col-header">3pa</div>
    <div>{{model.teamStats.perGame.threepta}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.threepta}}</div>
    <div>{{model.teamStats.perGame.diffs.threepta}}</div>
  </div>
  <div class="col">
    <div class="col-header">3p%</div>
    <div>{{model.teamStats.threeptp}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.threeptp}}</div>
    <div>{{model.teamStats.diffs.threeptp}}</div>
  </div>
  <div class="col">
    <div class="col-header">ftm</div>
    <div>{{model.teamStats.perGame.ftm}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.ftm}}</div>
    <div>{{model.teamStats.perGame.diffs.ftm}}</div>
  </div>
  <div class="col">
    <div class="col-header">fta</div>
    <div>{{model.teamStats.perGame.fta}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.fta}}</div>
    <div>{{model.teamStats.perGame.diffs.fta}}</div>
  </div>
  <div class="col">
    <div class="col-header">ft%</div>
    <div>{{model.teamStats.ftpercentage}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.ftpercentage}}</div>
    <div>{{model.teamStats.diffs.ftpercentage}}</div>
  </div>
  <div class="col">
    <div class="col-header">oreb</div>
    <div>{{model.teamStats.perGame.oreb}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.oreb}}</div>
    <div>{{model.teamStats.perGame.diffs.oreb}}</div>
  </div>
  <div class="col">
    <div class="col-header">dreb</div>
    <div>{{model.teamStats.perGame.dreb}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.dreb}}</div>
    <div>{{model.teamStats.perGame.diffs.dreb}}</div>
  </div>
  <div class="col">
    <div class="col-header">stl</div>
    <div>{{model.teamStats.perGame.steals}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.steals}}</div>
    <div>{{model.teamStats.perGame.diffs.steals}}</div>
  </div>
  <div class="col">
    <div class="col-header">blk</div>
    <div>{{model.teamStats.perGame.blocks}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.blocks}}</div>
    <div>{{model.teamStats.perGame.diffs.blocks}}</div>
  </div>
  <div class="col">
    <div class="col-header">to</div>
    <div>{{model.teamStats.perGame.turnovers}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.turnovers}}</div>
    <div>{{model.teamStats.perGame.diffs.turnovers}}</div>
  </div>
  <div class="col">
    <div class="col-header">pf</div>
    <div>{{model.teamStats.perGame.fouls}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.perGame.fouls}}</div>
    <div>{{model.teamStats.perGame.diffs.fouls}}</div>
  </div>
</div>
<h1>TEAM ADVANCED</h1>
<div class="advanced-stats-summary flex-table">
  <div class="col three-col">
    <div class="col-header">player</div>
    <div>{{model.mascot}}</div>
    <div>Opponent</div>
    <div>Difference</div>
  </div>
  <div class="col">
    <div class="col-header">Pace</div>
    <div>{{model.teamStats.poss}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.poss}}</div>
    <div>{{model.teamStats.diffs.poss}}</div>
  </div>
  <div class="col">
    <div class="col-header">EFG</div>
    <div>{{model.teamStats.efg}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.efg}}</div>
    <div>{{model.teamStats.diffs.efg}}</div>
  </div>
  <div class="col">
    <div class="col-header">TOV</div>
    <div>{{model.teamStats.tov}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.tov}}</div>
    <div>{{model.teamStats.diffs.tov}}</div>
  </div>
  <div class="col">
    <div class="col-header">ORB</div>
    <div>{{model.teamStats.orb}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.orb}}</div>
    <div>{{model.teamStats.diffs.orb}}</div>
  </div>
  <div class="col">
    <div class="col-header">FTP</div>
    <div>{{model.teamStats.ftp}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.ftp}}</div>
    <div>{{model.teamStats.diffs.ftp}}</div>
  </div>
  <div class="col">
    <div class="col-header">ORTG</div>
    <div>{{model.teamStats.ortg}}</div>
    <div>{{controllers.team/stats.opponent.teamStats.ortg}}</div>
    <div>{{model.teamStats.diffs.ortg}}</div>
  </div>
</div>


<h1>PLAYER TOTALS</h1>
<div class="flex-table">
  <div class="col three-col">
    <div class="col-header">player</div>
    {{#each player in model.players}}
    <div>{{player.firstInitial}} {{player.lastName}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">min</div>
    {{#each player in model.players}}
    <div>{{seconds-to-time player.gameStats.minutes}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">pts</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.points}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">reb</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.reb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ast</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.assists}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fgm</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fgm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fga</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fga}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fg%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fgp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3pm</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threeptm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3pa</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threepta}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3p%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threeptp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ftm</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.ftm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fta</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fta}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ft%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.ftp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">oreb</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.oreb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">dreb</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.dreb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">stl</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.steals}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">blk</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.blocks}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">to</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.turnovers}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">pf</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fouls}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">+/-</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.plusminus}}</div>
    {{/each}}
  </div>
</div>
<!-- <div class='stat-lines'>

  <div class="total-row">
    <div class="col player-number"></div>
    <div class="col player-name">TOTALS</div>
    <div class="col min">{{left.teamStats.min}}</div>
    <div class="col points">{{left.teamStats.points}}</div>
    <div class="col totreb">{{left.teamStats.reb}}</div>
    <div class="col assist">{{left.teamStats.assists}}</div>
    <div class="col fg">{{left.teamStats.fgm}}/{{left.teamStats.fga}}</div>
    <div class="col threept">{{left.teamStats.threeptm}}/{{left.teamStats.threepta}}</div>
    <div class="col ft">{{left.teamStats.ftm}}/{{left.teamStats.fta}}</div>
    <div class="col offreb">{{left.teamStats.oreb}}</div>
    <div class="col defreb">{{left.teamStats.dreb}}</div>
    <div class="col steal">{{left.teamStats.steals}}</div>
    <div class="col block">{{left.teamStats.blocks}}</div>
    <div class="col to">{{left.teamStats.turnovers}}</div>
    <div class="col foul">{{left.teamStats.fouls}}</div>
    <div class="col plus-minus">-</div>
  </div>
</div> -->
<h1>PER GAME</h1>
<div class="flex-table">
  <div class="col three-col">
    <div class="col-header">player</div>
    {{#each player in model.players}}
    <div>{{player.firstInitial}} {{player.lastName}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">min</div>
    {{#each player in model.players}}
    <div>{{seconds-to-time player.perGameStats.minutes}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">pts</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.points}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">reb</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.reb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ast</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.assists}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fgm</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.fgm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fga</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.fga}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fg%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fgp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3pm</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.threeptm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3pa</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.threepta}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3p%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threeptp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ftm</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.ftm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fta</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.fta}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ft%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.ftp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">oreb</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.oreb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">dreb</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.dreb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">stl</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.steals}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">blk</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.blocks}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">to</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.turnovers}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">pf</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.fouls}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">+/-</div>
    {{#each player in model.players}}
    <div>{{player.perGameStats.plusminus}}</div>
    {{/each}}
  </div>
</div>

<h1>per {{model.perNumber}}</h1>
<div class="flex-table">
  <div class="col three-col">
    <div class="col-header">player</div>
    {{#each player in model.players}}
    <div>{{player.firstInitial}} {{player.lastName}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">min</div>
    {{#each player in model.players}}
    <div>{{seconds-to-time player.perMinuteStats.minutes}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">pts</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.points}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">reb</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.reb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ast</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.assists}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fgm</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.fgm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fga</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.fga}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fg%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.fgp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3pm</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.threeptm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3pa</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.threepta}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3p%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threeptp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ftm</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.ftm}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">fta</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.fta}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ft%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.ftp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">oreb</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.oreb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">dreb</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.dreb}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">stl</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.steals}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">blk</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.blocks}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">to</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.turnovers}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">pf</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.fouls}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">+/-</div>
    {{#each player in model.players}}
    <div>{{player.perMinuteStats.plusminus}}</div>
    {{/each}}
  </div>
</div>

<h1>advanced stats</h1>
<div class="flex-table">
  <div class="col three-col">
    <div class="col-header">player</div>
    {{#each player in model.players}}
    <div>{{player.firstInitial}} {{player.lastName}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">min</div>
    {{#each player in model.players}}
    <div>{{seconds-to-time player.gameStats.minutes}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">eff</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.eff}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ts%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.tsp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">3ptr</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.threePAp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ftr</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.ftAp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">oReb%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.oRebp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">dReb%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.dRebp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">tReb%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.tRebp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ast%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.assistp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">stl%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.stealp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">blk%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.blockp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">tov%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.turnoverp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">ft%</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.ftp}}</div>
    {{/each}}
  </div>
  <div class="col">
    <div class="col-header">+/-</div>
    {{#each player in model.players}}
    <div>{{player.gameStats.plusminus}}</div>
    {{/each}}
  </div>
</div>