<div class="game-mode">
  <div class="scoreboard">
    <div class="clock">
      <div class="period" {{action "endPeriod"}}>
        {{number-to-period period}}
      </div>
      <div class="timer" {{action "changeTime"}}>
        {{seconds-to-time timeLeft}}
      </div>
    </div>
    <div class="scores">
      <div class="period period1">
        <div class="period-header">
          1
        </div>
        <div class="home-score">
          {{left.teamStats.scoreByPeriod.one}}
        </div>
        <div class="home-score">
          {{right.teamStats.scoreByPeriod.one}}
        </div>
      </div>
      <div class="period period2">
        <div class="period-header">
          2
        </div>
        <div class="home-score">
          {{left.teamStats.scoreByPeriod.two}}
        </div>
        <div class="home-score">
          {{right.teamStats.scoreByPeriod.two}}
        </div>
      </div>
      {{#if quarters}}
        <div class="period period3">
          <div class="period-header">
            3
          </div>
          <div class="home-score">
            {{left.teamStats.scoreByPeriod.three}}
          </div>
          <div class="home-score">
            {{right.teamStats.scoreByPeriod.three}}
          </div>
        </div>
        <div class="period period4">
          <div class="period-header">
            4
          </div>
          <div class="home-score">
            {{left.teamStats.scoreByPeriod.four}}
          </div>
          <div class="home-score">
            {{right.teamStats.scoreByPeriod.four}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  <div class='left-team-top left-team'>
    <div class="team-info-triangle"></div>
    <div class="team-info">
      <div class="score">
        {{left.teamStats.points}}
      </div>
      <div class="next-to-score">
        <div class="possession">
          Poss <div {{bind-attr class=":possession-light leftPossession:on:off"}}></div>
          {{spectrum-color-picker color=left.primaryColor moveFiresChange=true clickoutFiresChange=true showButtons=false}}
          {{spectrum-color-picker color=left.secondaryColor moveFiresChange=true clickoutFiresChange=true showButtons=false}}
        </div>
        <div class="name">
          {{left.mascot}}
        </div>
      </div>
    </div>
  </div>
  <div class='right-team-top right-team'>
    <div class="team-info">
      <div class="score">
        {{right.teamStats.points}}
      </div>
      <div class="next-to-score">
        <div class="possession">
          <div {{bind-attr class=":possession-light leftPossession:off:on"}}></div> Poss
          {{spectrum-color-picker color=right.primaryColor moveFiresChange=true clickoutFiresChange=true showButtons=false}}
          {{spectrum-color-picker color=right.secondaryColor moveFiresChange=true clickoutFiresChange=true showButtons=false}}
        </div>
        <div class="name">
          {{right.mascot}}
        </div>
      </div>
    </div>
  </div>
  <div class="stat-buttons-container">
    <div class="stat-buttons">
      <button class="stat-button" {{action "foulButton" selectedPlayer}}>foul</button>
      <button class="stat-button" {{action "reboundButton" selectedPlayer}}>rebound</button>
      <button class="stat-button" {{action "blockButton" selectedPlayer}}>block</button>
      <button class="stat-button" {{action "drawChargeButton" selectedPlayer}}>draw charge</button>
      <button class="stat-button" {{action "turnoverButton" selectedPlayer}}>turnover</button>
      <button class="stat-button" {{action "stealButton" selectedPlayer}}>steal</button>
      <button class="stat-button" {{action "freeThrowButton" selectedPlayer}}>free throw</button>
    </div>
  </div>
  <div class="player-court-container">
    {{full-court model=model selectedPlayer=selectedPlayer action="shot"}}
    <button class="switch-sides" {{action "switchSides"}}>switch sides</button>
    <div class="all-players">
      <div class='left-team'>
        <div class="on-court">
          {{#draggable-object-target action="substitute" slot="slot1" current=leftOnCourt.slot1}}
            {{player-card player=leftOnCourt.slot1 action="selectPlayer"}}
          {{/draggable-object-target}}
          {{#draggable-object-target action="substitute" slot="slot2" current=leftOnCourt.slot2}}
            {{player-card player=leftOnCourt.slot2 action="selectPlayer"}}
          {{/draggable-object-target}}
          {{#draggable-object-target action="substitute" slot="slot3" current=leftOnCourt.slot3}}
            {{player-card player=leftOnCourt.slot3 action="selectPlayer"}}
          {{/draggable-object-target}}
          {{#draggable-object-target action="substitute" slot="slot4" current=leftOnCourt.slot4}}
            {{player-card player=leftOnCourt.slot4 action="selectPlayer"}}
          {{/draggable-object-target}}
          {{#draggable-object-target action="substitute" slot="slot5" current=leftOnCourt.slot5}}
            {{player-card player=leftOnCourt.slot5 action="selectPlayer"}}
          {{/draggable-object-target}}
        </div>
        <div class="bench">
          {{#each player in leftBench}}
            {{#draggable-object content=player}}
              {{player-card player=player}}
            {{/draggable-object}}
          {{/each}}
        </div>
      </div>
      <div class='right-team'>
        <div class="on-court">
          {{#draggable-object-target action="substitute" slot="slot1" current=rightOnCourt.slot1}}
            {{player-card player=rightOnCourt.slot1 action="selectPlayer"}}
          {{/draggable-object-target}}
          {{#draggable-object-target action="substitute" slot="slot2" current=rightOnCourt.slot2}}
            {{player-card player=rightOnCourt.slot2 action="selectPlayer"}}
          {{/draggable-object-target}}
          {{#draggable-object-target action="substitute" slot="slot3" current=rightOnCourt.slot3}}
            {{player-card player=rightOnCourt.slot3 action="selectPlayer"}}
          {{/draggable-object-target}}
          {{#draggable-object-target action="substitute" slot="slot4" current=rightOnCourt.slot4}}
            {{player-card player=rightOnCourt.slot4 action="selectPlayer"}}
          {{/draggable-object-target}}
          {{#draggable-object-target action="substitute" slot="slot5" current=rightOnCourt.slot5}}
            {{player-card player=rightOnCourt.slot5 action="selectPlayer"}}
          {{/draggable-object-target}}
        </div>
        <div class="bench">
          {{#each player in rightBench}}
            {{#draggable-object content=player}}
              {{player-card player=player}}
            {{/draggable-object}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{partial "stat-lines"}}
  {{#if notStarted}}
    <div class="jump-ball-starter">
      <div class="title">Jump Ball</div>
      <div class="description">Click on the team that gains possession of the jump to start the game</div>
      <button class="left-team jump-ball-button" {{action 'jumpBall' right}}>{{left.mascot}}</button>
      <button class="right-team jump-ball-button" {{action 'jumpBall' left}}>{{right.mascot}}</button>
    </div>
  {{/if}}
  {{#if inProgress}}
    {{#unless selectedPlayer}}
      <div class="jump-ball-starter">
        <div class="title">Select a Player</div>
        <div class="description">Click on a player above, then record a shot by clicking on the court where they shot from, or another stat from the list at the top of the court.</div>
      </div>
    {{/unless}}
  {{/if}}
</div>
