<div class="home-page non-game">

  {{#if teams}}
    <h2>My Teams</h2>
    <div class="team-grid">
      {{#each team in teams}}
        {{#link-to 'team' team}}
          <div class="team-name">
            {{team.organization}} {{team.mascot}}
          </div>
          <div class="team-detail">
            {{team.season}}
          </div>
          <div class="team-numbers">
            {{team.gamesNum}} games
            {{team.playersNum}} players
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  {{/if}}

  <h2>Create a new team</h2>
  <form class="create-team-form">
    {{input value=team.organization placeholder="School/Organization"}}
    {{input value=team.mascot placeholder="Mascot"}}
    {{input value=team.season placeholder="Season (Ex. '14-'15)"}}
    <div class="color-pick">
      <div class="color-pick-title">
        Primary Team Color:
      </div>
      {{spectrum-color-picker color=team.primaryColor moveFiresChange=true}}
    </div>
    <div class="color-pick">
      <div class="color-pick-title">
        Secondary Team Color:
      </div>
      {{spectrum-color-picker color=team.secondaryColor moveFiresChange=true}}
    </div>
    <button class="add-button" {{action "createTeam"}}>Add</button>
  </form>

</div>