<div class='stat-lines'>
  <div class="top-row">
    <div class="col player-number">#</div>
    <div class="col player-name">player</div>
    <div class="col min">min</div>
    <div class="col points">pts</div>
    <div class="col totreb">reb</div>
    <div class="col assist">ast</div>
    <div class="col fg">fgm-a</div>
    <div class="col threept">3pm-a</div>
    <div class="col ft">ftm-a</div>
    <div class="col offreb">oreb</div>
    <div class="col defreb">dreb</div>
    <div class="col steal">stl</div>
    <div class="col block">blk</div>
    <div class="col to">to</div>
    <div class="col foul">pf</div>
    <div class="col plusminus">+/-</div>
  </div>
  {{#if model.left.myTeam}}
    {{#each model.left.players key="@guid" as |player|}}
      <div class="player-row">
        <div class="col player-number">{{player.number}}</div>
        <div class="col player-name">{{player.firstName}} {{player.lastName}}</div>
        <div class="col min">{{seconds-to-time player.gameStats.minutes}}</div>
        <div class="col points">{{player.gameStats.points}}</div>
        <div class="col totreb">{{player.gameStats.reb}}</div>
        <div class="col assist">{{player.gameStats.assists}}</div>
        <div class="col fg">{{player.gameStats.fgm}}/{{player.gameStats.fga}}</div>
        <div class="col threept">{{player.gameStats.threeptm}}/{{player.gameStats.threepta}}</div>
        <div class="col ft">{{player.gameStats.ftm}}/{{player.gameStats.fta}}</div>
        <div class="col offreb">{{player.gameStats.oreb}}</div>
        <div class="col defreb">{{player.gameStats.dreb}}</div>
        <div class="col steal">{{player.gameStats.steals}}</div>
        <div class="col block">{{player.gameStats.blocks}}</div>
        <div class="col to">{{player.gameStats.turnovers}}</div>
        <div class="col foul">{{player.gameStats.fouls}}</div>
        <div class="col plus-minus">{{player.gameStats.plusminus}}</div>
      </div>
    {{/each}}
    <div class="total-row">
      <div class="col player-number"></div>
      <div class="col player-name">TOTALS</div>
      <div class="col min">{{model.left.teamStats.min}}</div>
      <div class="col points">{{model.left.teamStats.points}}</div>
      <div class="col totreb">{{model.left.teamStats.reb}}</div>
      <div class="col assist">{{model.left.teamStats.assists}}</div>
      <div class="col fg">{{model.left.teamStats.fgm}}/{{model.left.teamStats.fga}}</div>
      <div class="col threept">{{model.left.teamStats.threeptm}}/{{model.left.teamStats.threepta}}</div>
      <div class="col ft">{{model.left.teamStats.ftm}}/{{model.left.teamStats.fta}}</div>
      <div class="col offreb">{{model.left.teamStats.oreb}}</div>
      <div class="col defreb">{{model.left.teamStats.dreb}}</div>
      <div class="col steal">{{model.left.teamStats.steals}}</div>
      <div class="col block">{{model.left.teamStats.blocks}}</div>
      <div class="col to">{{model.left.teamStats.turnovers}}</div>
      <div class="col foul">{{model.left.teamStats.fouls}}</div>
      <div class="col plus-minus">-</div>
    </div>
  {{else}}
    {{#each model.right.players key="@guid" as |player|}}
      <div class="player-row">
        <div class="col player-number">{{player.number}}</div>
        <div class="col player-name">{{player.firstName}} {{player.lastName}}</div>
        <div class="col min">{{seconds-to-time player.gameStats.minutes}}</div>
        <div class="col points">{{player.gameStats.points}}</div>
        <div class="col totreb">{{player.gameStats.reb}}</div>
        <div class="col assist">{{player.gameStats.assists}}</div>
        <div class="col fg">{{player.gameStats.fgm}}/{{player.gameStats.fga}}</div>
        <div class="col threept">{{player.gameStats.threeptm}}/{{player.gameStats.threepta}}</div>
        <div class="col ft">{{player.gameStats.ftm}}/{{player.gameStats.fta}}</div>
        <div class="col offreb">{{player.gameStats.oreb}}</div>
        <div class="col defreb">{{player.gameStats.dreb}}</div>
        <div class="col steal">{{player.gameStats.steals}}</div>
        <div class="col block">{{player.gameStats.blocks}}</div>
        <div class="col to">{{player.gameStats.turnovers}}</div>
        <div class="col foul">{{player.gameStats.fouls}}</div>
        <div class="col plus-minus">{{player.gameStats.plusminus}}</div>
      </div>
    {{/each}}
    <div class="total-row">
      <div class="col player-number"></div>
      <div class="col player-name">TOTALS</div>
      <div class="col min">{{model.right.teamStats.min}}</div>
      <div class="col points">{{model.right.teamStats.points}}</div>
      <div class="col totreb">{{model.right.teamStats.reb}}</div>
      <div class="col assist">{{model.right.teamStats.assists}}</div>
      <div class="col fg">{{model.right.teamStats.fgm}}/{{model.right.teamStats.fga}}</div>
      <div class="col threept">{{model.right.teamStats.threeptm}}/{{model.right.teamStats.threepta}}</div>
      <div class="col ft">{{model.right.teamStats.ftm}}/{{model.right.teamStats.fta}}</div>
      <div class="col offreb">{{model.right.teamStats.oreb}}</div>
      <div class="col defreb">{{model.right.teamStats.dreb}}</div>
      <div class="col steal">{{model.right.teamStats.steals}}</div>
      <div class="col block">{{model.right.teamStats.blocks}}</div>
      <div class="col to">{{model.right.teamStats.turnovers}}</div>
      <div class="col foul">{{model.right.teamStats.fouls}}</div>
      <div class="col plus-minus">-</div>
    </div>
  {{/if}}

  <div class="top-row">
    <div class="col player-number">#</div>
    <div class="col player-name">player</div>
    <div class="col min">min</div>
    <div class="col points">pts</div>
    <div class="col totreb">reb</div>
    <div class="col assist">ast</div>
    <div class="col fg">fgm-a</div>
    <div class="col threept">3pm-a</div>
    <div class="col ft">ftm-a</div>
    <div class="col offreb">oreb</div>
    <div class="col defreb">dreb</div>
    <div class="col steal">stl</div>
    <div class="col block">blk</div>
    <div class="col to">to</div>
    <div class="col foul">pf</div>
    <div class="col plusminus">+/-</div>
  </div>
  {{#if model.left.myTeam}}
    {{#each model.right.players key="@guid" as |player|}}
      <div class="player-row">
        <div class="col player-number">{{player.number}}</div>
        <div class="col player-name">{{player.firstName}} {{player.lastName}}</div>
        <div class="col min">{{seconds-to-time player.gameStats.minutes}}</div>
        <div class="col points">{{player.gameStats.points}}</div>
        <div class="col totreb">{{player.gameStats.reb}}</div>
        <div class="col assist">{{player.gameStats.assists}}</div>
        <div class="col fg">{{player.gameStats.fgm}}/{{player.gameStats.fga}}</div>
        <div class="col threept">{{player.gameStats.threeptm}}/{{player.gameStats.threepta}}</div>
        <div class="col ft">{{player.gameStats.ftm}}/{{player.gameStats.fta}}</div>
        <div class="col offreb">{{player.gameStats.oreb}}</div>
        <div class="col defreb">{{player.gameStats.dreb}}</div>
        <div class="col steal">{{player.gameStats.steals}}</div>
        <div class="col block">{{player.gameStats.blocks}}</div>
        <div class="col to">{{player.gameStats.turnovers}}</div>
        <div class="col foul">{{player.gameStats.fouls}}</div>
        <div class="col plus-minus">{{player.gameStats.plusminus}}</div>
      </div>
    {{/each}}
    <div class="total-row">
      <div class="col player-number"></div>
      <div class="col player-name">TOTALS</div>
      <div class="col min">{{model.right.teamStats.min}}</div>
      <div class="col points">{{model.right.teamStats.points}}</div>
      <div class="col totreb">{{model.right.teamStats.reb}}</div>
      <div class="col assist">{{model.right.teamStats.assists}}</div>
      <div class="col fg">{{model.right.teamStats.fgm}}/{{model.right.teamStats.fga}}</div>
      <div class="col threept">{{model.right.teamStats.threeptm}}/{{model.right.teamStats.threepta}}</div>
      <div class="col ft">{{model.right.teamStats.ftm}}/{{model.right.teamStats.fta}}</div>
      <div class="col offreb">{{model.right.teamStats.oreb}}</div>
      <div class="col defreb">{{model.right.teamStats.dreb}}</div>
      <div class="col steal">{{model.right.teamStats.steals}}</div>
      <div class="col block">{{model.right.teamStats.blocks}}</div>
      <div class="col to">{{model.right.teamStats.turnovers}}</div>
      <div class="col foul">{{model.right.teamStats.fouls}}</div>
      <div class="col plus-minus">-</div>
    </div>
  {{else}}
    {{#each model.left.players key="@guid" as |player|}}
      <div class="player-row">
        <div class="col player-number">{{player.number}}</div>
        <div class="col player-name">{{player.firstName}} {{player.lastName}}</div>
        <div class="col min">{{seconds-to-time player.gameStats.minutes}}</div>
        <div class="col points">{{player.gameStats.points}}</div>
        <div class="col totreb">{{player.gameStats.reb}}</div>
        <div class="col assist">{{player.gameStats.assists}}</div>
        <div class="col fg">{{player.gameStats.fgm}}/{{player.gameStats.fga}}</div>
        <div class="col threept">{{player.gameStats.threeptm}}/{{player.gameStats.threepta}}</div>
        <div class="col ft">{{player.gameStats.ftm}}/{{player.gameStats.fta}}</div>
        <div class="col offreb">{{player.gameStats.oreb}}</div>
        <div class="col defreb">{{player.gameStats.dreb}}</div>
        <div class="col steal">{{player.gameStats.steals}}</div>
        <div class="col block">{{player.gameStats.blocks}}</div>
        <div class="col to">{{player.gameStats.turnovers}}</div>
        <div class="col foul">{{player.gameStats.fouls}}</div>
        <div class="col plus-minus">{{player.gameStats.plusminus}}</div>
      </div>
    {{/each}}
    <div class="total-row">
      <div class="col player-number"></div>
      <div class="col player-name">TOTALS</div>
      <div class="col min">{{model.left.teamStats.min}}</div>
      <div class="col points">{{model.left.teamStats.points}}</div>
      <div class="col totreb">{{model.left.teamStats.reb}}</div>
      <div class="col assist">{{model.left.teamStats.assists}}</div>
      <div class="col fg">{{model.left.teamStats.fgm}}/{{model.left.teamStats.fga}}</div>
      <div class="col threept">{{model.left.teamStats.threeptm}}/{{model.left.teamStats.threepta}}</div>
      <div class="col ft">{{model.left.teamStats.ftm}}/{{model.left.teamStats.fta}}</div>
      <div class="col offreb">{{model.left.teamStats.oreb}}</div>
      <div class="col defreb">{{model.left.teamStats.dreb}}</div>
      <div class="col steal">{{model.left.teamStats.steals}}</div>
      <div class="col block">{{model.left.teamStats.blocks}}</div>
      <div class="col to">{{model.left.teamStats.turnovers}}</div>
      <div class="col foul">{{model.left.teamStats.fouls}}</div>
      <div class="col plus-minus">-</div>
    </div>
  {{/if}}
</div>