<div class="team-page-header">
  <h2 class="page-title">{{organization}} {{mascot}}</h2>
  <div class="color-picker">
    Team Colors:
    {{spectrum-color-picker color=primaryColor moveFiresChange=true clickoutFiresChange=true showButtons=false}}
    {{spectrum-color-picker color=secondaryColor moveFiresChange=true clickoutFiresChange=true showButtons=false}}
  </div>

  {{#if myTeam}}
  <div class="new-game-button">
    {{#link-to "team.new-game"}}
      <button class="add-button">New Game</button>
    {{/link-to}}
  </div>
  {{/if}}
  <div class="tab-row">
    {{#link-to "team.index"}}
      Roster
    {{/link-to}}
    {{#link-to "team.games"}}
      Games
    {{/link-to}}
    {{#link-to "team.stats"}}
      Stats
    {{/link-to}}
  </div>
</div>

<div class="team-page non-game">
  {{outlet}}
</div>